<section>
  <header>
    <div class="left">
      <span>
        Bug
      </span>
    </div>
    <div class="right">
      <span>
        +91 8825549745
      </span>
    </div>
  </header>
  <section class="hero">
    <div>
      <span class="name">Surendar Kalyanam</span>
      <span class="about">
        I’m a fullstack javascsiprt developer
        and youtuber.
      </span>

      <span class="contact">
        <button (click)="hireMe()">
            Hire Me
        </button>
        <a href="https://github.com/Bug0017">
          <img src="assets/images/contact-github.svg" alt="">
        </a>
        <a href="https://www.youtube.com/channel/UC5C5w0mrR5xKRPpZnDkLGUg">
          <img src="assets/images/contact-youtube.svg" alt="">
        </a>

        <a href="mailto:dreamchaser6930@gamil.com">
          <img src="assets/images/contact-mail.svg" alt="">
        </a>
      </span>
    </div>

    <div>
      <img src="assets/images/hero-image.svg" alt="">
    </div>
  </section>
</section>


<section class="skills">
  <div class="top">
    <span class="skills__text">
      Skills:
    </span>
  </div>

  <div class="bottom">
    <div class="top__row">
      <img src="assets/images/skills-html.svg" alt="">
      <img src="assets/images/skills-css.svg" alt="">
      <img src="assets/images/skills-pug.svg" alt="">
      <img src="assets/images/skills-js.svg" alt="">
      <img src="assets/images/skills-ts.svg" alt="">
      <img src="assets/images/skills-angular.svg" alt="">
      <img src="assets/images/skills-react.svg" alt="">

    </div>
    <div class="bottom__row">
      <img src="assets/images/skills-svelte.svg" alt="">
      <img src="assets/images/skills-nest.svg" alt="">
      <img src="assets/images/skills-next.svg" alt="">
      <img src="assets/images/skills-remix.svg" alt="">
      <img src="assets/images/skills-fb.svg" alt="">
    </div>
  </div>
</section>
