/* You can add global styles to this file, and also import other style files */

@font-face{
  font-family: sure;
  src:url(assets/fonts/OperatorMonoLig-MediumItalic.otf) format('opentype');
}

*{
  margin: 0;
  padding: 0;
}
